.brackets-todo table {
	width: 100%;
	position: relative;
}

.brackets-todo td {
	vertical-align: middle;
}

.brackets-todo .done {
	opacity: .5;
}

.brackets-todo .done .message {
	text-decoration: line-through;
}

/*--- TABLE ROWS ---*/
.brackets-todo .disclosure-triangle {
	display: inline-block;
	width: 18px;
	height: 16px;
	background-color: transparent;
	background-position: 8px 4px;
}

.brackets-todo .expanded .disclosure-triangle {
	background-position: 6px 4px;
	-webkit-transform: translateZ( 0 ) rotate( 90deg );
}

.brackets-todo .line {
	width: 2em;
	padding: 0 0 0 .8em;
	text-align: right;
}

.brackets-todo .tag {
	width: 5.2em;
	height: 1.8em;
	padding: 0 .5em;
}

.brackets-todo .actions {
	text-align: right;
}

.brackets-todo span {
	display: inline-block;
	width: 	5.2em;
	margin: 0 .1em;
	padding: 0;
	background-color: #555;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	border-radius: .5em;
}

/*--- TAGS STYLING ---*/
.brackets-todo .todo {
	background-color: #d95;
}

.brackets-todo .note {
	background-color: #696;
}

.brackets-todo .fixme {
	background-color: #c95353;
}

.brackets-todo .future {
	background-color: #5a99c3;
}

/*--- ACTIONS ---*/
.brackets-todo .actions a {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	margin-left: .2em;
	border: 1px solid #999;
	color: #999;
	text-align: center;
	border-radius: 2em;
}

.brackets-todo .actions a:hover {
	text-decoration: none;
}

/*--- TOOLBAR ---*/
#brackets-todo-icon {
	background-image: url( 'images/todo-icon.svg' );
}

#brackets-todo-icon.active {
	background-position: 0 -24px;
}

.brackets-todo .indicator {
	display: none;
	position: absolute;
	top: 50%;
	right: 30px;
	opacity: 0.3;
	margin-top: -.71em;
	padding: 1px .25em 2px;
	border: 1px solid #444;
	border-radius: 5px;
	color: inherit;
	font-size: .85em;
	line-height: 1;
}

.brackets-todo .indicator:hover {
	text-decoration: none;
}

.brackets-todo.todo-file .indicator {
	display: block;
}

.brackets-todo .expand-all {
	display: block;
	position: absolute;
	top: 50%;
	left: 50px;
	opacity: 0.3;
	margin-top: -.71em;
	padding: 1px .25em 2px;
	border: 1px solid #444;
	border-radius: 5px;
	color: inherit;
	height: 15px;
	width: 15px;
	background-image: url( 'images/expand-all.png' );
	background-position: center;
	background-repeat: no-repeat;
}

.brackets-todo .expand-all:hover {
	background-color: #fff;
}

.brackets-todo .collapse-all {
	display: block;
	position: absolute;
	top: 50%;
	left: 80px;
	opacity: 0.3;
	margin-top: -.71em;
	padding: 1px .25em 2px;
	border: 1px solid #444;
	border-radius: 5px;
	color: inherit;
	height: 15px;
	width: 15px;
	background-image: url( 'images/collapse-all.png' );
	background-position: center;
	background-repeat: no-repeat;
}

.brackets-todo .collapse-all:hover {
	background-color: #fff;
}

.brackets-todo.current .expand-all,
.brackets-todo.current .collapse-all,
.brackets-todo.current tr.file {
	display: none;
}