.brackets-todo table {
	width: 100%;
}

.brackets-todo td {
	vertical-align: middle;
}

.brackets-todo .current tr.file {
	display: none;
}

/*--- TABLE ROWS ---*/
.brackets-todo .disclosure-triangle {
	display: inline-block;
	width: 18px;
	height: 16px;
	background-color: transparent;
	background-position: 8px 4px;
}

.brackets-todo .expanded .disclosure-triangle {
	background-position: 6px 4px;
	-webkit-transform: translateZ( 0 ) rotate( 90deg );
}

.brackets-todo .line {
	width: 2em;
	padding: 0 0 0 .8em;
	text-align: right;
}

.brackets-todo .tag {
	width: 5.2em;
	height: 1.8em;
	padding: 0 .5em;
}

.brackets-todo span {
	display: inline-block;
	width: 	5.2em;
	margin: 0 .1em;
	padding: 0;
	background-color: #555;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	border-radius: .5em;
}

/*--- TAGS STYLING ---*/
.brackets-todo .todo {
	background-color: #d95;
}

.brackets-todo .note {
	background-color: #696;
}

.brackets-todo .fixme {
	background-color: #c95353;
}