.brackets-todo table {
	width: 100%;
	position: relative;
}

.brackets-todo td {
	vertical-align: middle;
}

.brackets-todo .done {
	opacity: .5;
}

.brackets-todo .done .message {
	text-decoration: line-through;
}

/*--- TABLE ROWS ---*/
.brackets-todo .disclosure-triangle {
	display: inline-block;
	width: 18px;
	height: 16px;
	background-color: transparent;
	background-position: 8px 4px;
}

.brackets-todo .expanded .disclosure-triangle {
	background-position: 6px 4px;
	-webkit-transform: translateZ( 0 ) rotate( 90deg );
}

.brackets-todo .line {
	width: 2em;
	padding: 0 0 0 .8em;
	text-align: right;
}

.brackets-todo .tag {
	width: 5.2em;
	height: 1.8em;
	padding: 0 .5em;
}

.brackets-todo .actions {
	text-align: right;
}

.brackets-todo span {
	display: inline-block;
	width: 	5.2em;
	margin: 0 .1em;
	padding: 0;
	background-color: #555;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	border-radius: .5em;
}

/*--- TAGS STYLING ---*/
.brackets-todo .todo {
	background-color: #d95;
}

.brackets-todo .note {
	background-color: #696;
}

.brackets-todo .fixme {
	background-color: #c95353;
}

.brackets-todo .future {
	background-color: #5a99c3;
}

/*--- ICON ---*/
#brackets-todo-icon {
	background-image: url( 'images/todo-icon.svg' );
}

#brackets-todo-icon.active {
	background-position: 0 -24px;
}

/*--- TOOLBAR ---*/
.brackets-todo .tools {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 40px;
	width: 100%;
	margin-left: -.5em;
	line-height: 24px;
	direction: rtl;
}

.brackets-todo .tools .icon a {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-left: .25em;
	background: transparent url( 'images/sprite.svg' ) no-repeat left top;
	line-height: 1;
	border-radius: 3px;
}

.brackets-todo .tools .icon a:hover {
	opacity: .5;
	background-color: #fff;
	text-decoration: none;
}

.brackets-todo .tools .icon .collapse-all {
	background-position: left top;
}

.brackets-todo .tools .icon .expand-all {
	background-position: left -18px;
}

.brackets-todo .tools .icon .indicator {
	opacity: .5;
	background-position: left -36px;
}

.brackets-todo.todo-file .icon .indicator {
	opacity: 1;
}

.brackets-todo .tools .tag {
	position: absolute;
	top: 3px;
	bottom: 0px;
	width: 100%;
	right: 70px;
}

.brackets-todo .tools .tag a {
	display: inline-block;
	height: 18px;
	line-height: 18px;
	border-radius: 3px;
	margin-left: .25em;
	color: #666;
	direction: ltr;
}

.brackets-todo .tools .tag a:hover {
	opacity: .8;
	background-color: #fff;
	text-decoration: none;
}

.brackets-todo .tools .tag .active {
	opacity: .6;
	background-color: #fff;
	text-decoration: none;
}

.brackets-todo.current .tag {
	right: 20px;
}

.brackets-todo.current .icon .expand-all,
.brackets-todo.current .icon .collapse-all,
.brackets-todo.current tr.file {
	display: none;
}